PORT=8000
MONGODB_URI=mongodb+srv://XXX:XXX@cluster0.0zbxt.mongodb.net/rdt

APP_EMAIL_ACCOUNT=XX@XX.com
APP_EMAIL_PASSWORD=XXXX XXXX XXX XXXX

SECRET=XXXXX

ADMIN_USERNAME=XX
ADMIN_EMAIL=XX@XX.com
ADMIN_PASSWORD=XXXXX

CLOUDINARY_CLOUD_NAME=XXXX
CLOUDINARY_API_SECRET=-XXXXXXXX
CLOUDINARY_API_KEY=XXXXXXXXXXXX
CLOUDINARY_FOLDER=rdt-app

APP_API_URL=http://XXXXXX
APP_CONFIRM_PAGE=http://XXXXXX
APP_ERROR_CODE_PAGE=http://XXXXXX

APP_RUN_SCHEDULE=true
SCHEDULE_INACTIVE_JOBS=*/12 * * * * *
SCHEDULE_INACTIVE_DURATION=30
